.gitignore# Ignore compiled Java class files
*.class
# Ignore log files
*.log
# Ignore build directories
.DS_Store
.vscode
/anomaly_isolation_forest/logs/
anomaly_isolation_forest/.DS_Store
**/__pycache__/
