receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

exporters:
  prometheus:
    endpoint: "0.0.0.0:9090"
    namespace: "otel"
  debug:
    verbosity: detailed

service:
  pipelines:
    # traces:
    #   receivers: [ otlp ]
    #   exporters: [ debug ]
    metrics:
      receivers: [ otlp ]
      exporters: [ debug, prometheus ]
    # logs:
    #   receivers: [ otlp ]
    #   exporters: [ debug ]
